@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');


:root{
    --blue:#338eef;
    --darkblue:#151F2A;
    --lightblue:#34506E;
    --skyblue:#4397F0;
    --lightred:#E5503F;
    --white:#fff;
    --shadow: 2px 14px 30px 1px rgb(27 114 146 / 15%);
    --gray:#ccc;
    --lightblur:#1D2B3A;
}
.container{
    width: 80% !important;
    margin: 0 auto !important;
}
.container-info{
    width: 90% !important;
    margin: 0 auto !important;
}

/* page top bar  */
*{
    font-family: source sans pro;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}

ul {
   padding-left: 0; 
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
a{
    text-decoration: none;
} 
.top-bar{
    background-color: var(--blue);
}
.top-bar .top-bar-link{
    color: var(--white);
    padding: 5px 0;
    display: inline-block;

}
.nav{
    padding: 10px 0;
    align-items: center;
}
.site-logo{
    width: 45%;
}
.site-logo img{
    width: 100%;
}

.nav-links{
    text-align: right;
}
.nav-links span{
    margin-left: 0px;
    font-size: 14px;
    /* margin-top: 5px; */
    display: inline-block;
}
.member-login {
    /* background-color: #151F2A; */
    transition: .5s;
    padding: 10px 15px;
    border-radius: 5px;
    
}
.member-login:hover{
    background-color: #1D2B3A;
    color: var(--white);
}

/* banner  */

.banner-top{
    background-color: var(--lightblue);
    padding: 5px 0;
}

.banner-top p{
    font-size: 18px;
    margin: 0;
    color: gray;
}
.banner-top p span{
    font-weight: 700;
    color: var(--white);
}
.main-banner{
    color: var(--white);
}
.main-back{
    background-color: #151F2A;

}
.banner-left h1{
    font-size: 72px;
    font-weight: 700;
}
.banner-left h3{
    font-size: 36px;
    font-weight: 700;
}
.banner-left p{
    font-size: 30px;
    font-weight: 400;
}
.banner-left p span{
    font-weight: 700;
}
.banner-btn {
    background-color: var(--skyblue);
    display: inline-block;
    padding: 15px 35px;
    border-radius: 3px;
    margin-top:20px ;
}
.banner-btn a{
    font-size: 26px;
    font-weight: 600;
    line-height: 23px;
    color: var(--white);
    
}
.banner-btn a p{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.banner-btn:hover{
    transform: translateY(-20px);
}
.trust-seal-1{
    /* width: 25%; */
    display: flex;
    padding: 60px 0;
    align-items: center;
}

.trust-seal-1 img{
    width: 25%;
}
.trust-seal-1 span{
    line-height: 17px;
    margin-left: 10px;
    text-align: left;
    font-size: 13px;
}
.banner-right iframe{
    width: 100%;
    height: auto;
}
.banner-video video{
    width: 100%;
}
.banner-video{
    position: relative;
   
}
#video-overlay,#video-overlay1{
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
#video-overlay img,#video-overlay1 img{
    width: 25%;
}
.banner-video video[poster='media/images/big-play-button.png']{
    width: 100% !important;
}





/* banner bottom section */


.banner-bottom{
    margin-top: -90px;
    border-radius: 10px;
}
.banner-right-text-content{
    background-color: var(--white);
    padding: 20px 10px;
    line-height: 23px;
}
.banner-right-text-content span{
    font-weight: 700;
}
.banner-right-text-content h1{
    font-size: 28px;
    font-weight: 700;
    color: var(--darkblue);
}

.banner-right-text-content p{
    font-size: 22px;
    font-weight: 400;
    color: var(--darkblue);
}
.banner-right-bottom-content{
    text-align: center;
    margin-top: 20px;
}
.banner-right-bottom-content h1{
    color: var(--blue);
    font-weight: 700;

}
.banner-right-bottom-content p{
    font-weight: 700;
    font-size: 18px;
}

.watch-demo{
    color: var(--white);
}


.banner-bottom-video img{
    width: 100%;
}


/* what a funnel */

.what-fannel{
    color: var(--lightblue);
    justify-content: center;
}
.what-fannel img{
    width: 25%;
}
.what-fannel h1{
    font-size: 72px;
    font-weight: 700;
}
.what-fannel p{
    font-size: 32px;
    font-weight: 400;
}
.what-fannel p span{
    font-weight: 700;
}




.what-funnel-text h1{
    font-size: 42px;
    font-weight: 700;
}

.what-funnel-text small{
    font-size: 18px;
    font-weight: 400;
}

.what-funnel-text small span{
    font-weight: 700;
}
.what-fannel-provides{
    display: flex;
}
.what-fannel-provides i{
    color: var(--blue);
    font-size: 22px;
    margin-top: 10px;
}
.what-fannel-provides span{
    margin-left: 20px;
    font-size: 22px;
    display: inline-block;
}



/* funnel-second-section */


.funnel-second-section img{
    width: 25%;
}
.funnel-second-section h1{
    font-size: 42px;
    font-weight: 700;   
}

.funnel-second-section p{
    font-size: 18px;
}

.funnel-second-section .what-fannel-provides span{
    font-size: 18px;
}
.funnel-lastsection-image{
    width: 100% !important;
}
.quiz-section{
    /* background-color: red; */
    border-radius: 5px;
}
.form-check{
    margin-top: 20px;
}
.form-check .banner-btn{
    width: 100%;
    margin: 0 auto;
}
.form-check label{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.quiz-alert{
    padding: 25px;
    background-color: var(--lightred);
    border-radius:5px ;
}
.quiz-body{
    padding: 25px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    background-color: var(--white);

}
.quiz-body .banner-btn{
    width: 100%;
    margin: 0 auto;
}
.quiz-alert p{
    font-weight: 700;
    padding: 10px 10px;
    border-radius: 5px;
}
.quiz-alert p a{
    color: #fff;
}

.quiz-body h1{
    font-weight: 700;
    font-size: 26px;
    color: var(--lightblue);
}


container{
    width: 70% !important;
    margin: 0 auto !important;
}



/* Demo Video */

.Demo_video{
    border: 2px solid var(--gray);
    text-align: center;
    border-radius: 5px;
    background-color: var(--white);

}
.Demo_video h1{
    color: var(--darkblue);
    font-size: 50px;
    font-weight: bold;
    line-height: 0.5em;
}
.Demo_video p{
color: var(--lightblur);
font-size: 20px;
}
.Demo_video span{
    font-weight:bold;
    font-size: 25px;
}
.Demo_video img {
    width: 80%;
}
.demo_instructor img{
width: 20%;
text-align: center;
float: left;
}
.demo_instructor {
    width: 80%;
    margin: 0 auto;
}



















/* Information */
.information h1{
    color: var(--lightblur);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
   
}
.information p{
    color: var(--lightblur);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  
}
.mobile {
    display: none;
}
.information_arrow .Desktop{
    text-align: center;
    width:90%;
    margin: 0 auto;
}
.information_arrow img{
    width: 93%;
}
/* .information_arrow .mobile{
    text-align: center;
    width:90%;
    margin: 0 auto;
} */
.details_info{
    text-align: center;
}
.details_info h1{
    color: var(--darkblue);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.details_info p{
    color: var(--lightblur);
    text-align: center;
    font-weight: 600;
}
.Show-more {
   
    background-color:var(--skyblue) ;
    text-align: center;
    border-radius:5px ;
    padding: 5px 0px;
    
}
.Show-more a{
    color: var(--white) !important;   
    display: inline-block;
}
.Show-more span{
    font-size: 10px; 
}






/* FAQS  */

.FAQs_Section h4{
    color: var(--lightblur);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.Questions_left h6{
    color: var(--skyblue);
    font-weight: bold;
    font-size:25px ;
}
.Questions_left p{
    font-size:20px ;
}

.Questions_right h6{
    color: var(--skyblue);
    font-weight: bold;
    font-size:25px ;

}
.Questions_right p{
    font-size:20px ;
}
.Questions_left{
    border-bottom:2px dashed var(--gray) ;
    padding: 30px 0px;
}
.Questions_right{
    border-bottom:2px dashed var(--gray) ;
    padding: 30px 0px;
}
.No_border{
border-bottom:  none !important;
}

/* ====================== */
/* Heading Company */
.heading_company h4{
    text-align: center;
    color: var(--darkblue);
    font-weight: 800;
    font-size: 25px;
}

.heading_company h1{
    color: var(--darkblue);
    font-weight: 800;
    font-size: 50px;
    text-align: center;
}
.name_info{
    text-align: center;
 color: var(--darkblue);
 line-height: 0.1em;
}
.name_info h6{
    font-weight: bold;   
}
.testimonial{
    color: var(--gray);
    text-align: center;
}
.trial_imonial {
    text-align: center;
}
.trial_imonial button{
padding:  100px;
}
.Account_create{
    text-align: center;
}


.Account_create a{
    color: var(--skyblue);
    
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
}
.Account_create a:hover{
    text-decoration: underline;
}
.Account_create{
    border-bottom: 2px dashed  var(--gray);
    padding: 20px 0;
    
} 








/* Click Funnel Section */
.click_funnel_free{
    background-color:var(--lightblur) ;
    
}
.head_trial{
    color: var(--white);
    font-weight: bold;
    text-align: center;
}
/* .trial{
    border: 1px solid  var(--skyblue);
    background-color: var(--skyblue);
    border-radius: 1px;
  color: var(--white);
  text-align:center ;
  font-size: 15px;

} */
/* .trial:hover{
    transform: traY(2);
}    */
.trial button{
background-color: var(--skyblue);
padding: 20px 100px;
border-radius:2px;
font-size: 30px;
font-weight: bold;
color: var(--white) !important;
}
.trial_1 button{
    background-color: var(--skyblue);
    padding: 20px 20px;
    border-radius:2px;
    font-size: 20px;
    font-weight: bold;
    color: var(--white) !important;
    text-align: center;
    }
    .trial{
        transition: .5s;
    }
    .trial span{
        color: var(--gray);
    }
    .trial_1 span{
        color: var(--gray);
    }
.trial:hover{
    transform: translateY(-20px);

}
.trial_1:hover{
    transform: translateY(-20px);

}
.trial h4{
    color: var(--gray);
}
.foot_trial{
    color: var(--white);
   text-align: center;  
}
.instruc h4{
    color: var(--white);
    font-size: 20px;
    line-height: 2em;
}
.click_instruction{
    color: #fff;
    font-size: 15px;
    text-align: center;
    border: 1px solid  var(--darkblue);
    background-color: var(--darkblue);
    border-radius: 1px;
    height: 80px;
    padding-top: 20px;
 
}









/* ==================== */
.footer_handler{
    background-color:var(--darkblue);
}
.About_section h4{
    color:var(--white);
}

.About_section ul li a{
    color:var(--white);
}
.About_section ul li a:hover{
    text-decoration: underline;
}
.About_section ul li a{
color: White;
}
.About_section ul li a:hover{
    text-decoration: underline;
}

.Product_section h4{
    color:var(--white);
}
.Product_section ul li a{
    color:var(--white);
}
.Product_section ul li a:hover{
    text-decoration: underline;
}
.Product_section ul li a{
    color:var(--white);
}
.Product_section ul li a:hover{
    text-decoration: underline;
}


.Help_section h4{
    color:var(--white);
}
.Help_section ul li a{
    color:var(--white);
}
.Help_section ul li a:hover{
    text-decoration: underline;
}
.Help_section ul li a{
    color:var(--white);
}
.Help_section ul li a:hover{
    text-decoration: underline;
}
.Footer_img img{
    width: 200px;
    

}
.Terms_section ul li a{
    color:var(--white);
    }
    .Terms_section ul li a:hover{
        text-decoration: underline;
    }
    
    .Terms_section ul li {
 display: inline-block;
 padding: 0 10px;
    }
    .details p{
        color:var(--white);

    }
    .details p a{
    color:var(--white);
   
    }
    .details p a:hover{
    text-decoration: underline;
    }
.address{
    color:var(--gray);
    
}


.img-fluid {
    margin-top: 45px;
}






.center-arrow{
    display: flex;
    justify-content: center;
}
.center-arrow img{
    width: 60%;
}

.last-section-background-img{
    background-image: url("background_1-min.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width: 576px){
    .container{    
            width: 100% !important;
            /* margin: 0 auto !important; */
        } 
        
    .Desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .Show-more{
      /* margin: 0px  150px; */
      display: inline-block;
      padding: 5px 38px;
    }
    .demo_instructor img{
        width: 60%;
        text-align: center;
       float: none;
        }
    .trial_1{
display: none;
        }
.trial{
display: none;
}

   }



   @media(max-width:768px)
   {
    .quiz-section{
        margin-top: 35px;
    }
    .Desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
   }